<hr class="mt-2 mb-2"/>
<% if !step.new_record? || !batch.ready? %>
  <div class="columns">
    <div class="column">
      <%= render partial: 'step/status', locals: { step: step } %>
    </div>
  </div>
  <% if step.done? || batch.ran? %>
    <div class="columns">
      <div class="column">
        <%= render partial: 'step/report', locals: { reports: step.reports } %>
      </div>
      <div class="column">
        <article class="message is-small">
          <div class="message-header has-background-white-ter has-text-dark">
            <p><%= fa_icon 'inbox', class: 'mr-2' %>Messages</p>
          </div>
          <div class="message-body has-background-white-bis">
            <p>Nothing to report!</p>
          </div>
        </article>
      </div>
    </div>
  <% end %>
<% else %>
  <%= yield :step_ready %>
<% end %>
