<article class="message is-small">
  <div class="message-header has-background-white-ter has-text-dark">
    <p><%= fa_icon 'file', class: 'mr-2' %>Files</p>
  </div>
  <div class="message-body has-background-white-bis">
    <% if step.reports.count == 0 %>
      No files for <%= step.name %>
    <% else %>
     <table class="table is-fullwidth is-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'step/row', collection: step.reports, as: :report %>
      </tbody>
     </table>
     <% end %>
  </div>
</article>
