<h3 class="subtitle has-text-weight-bold is-6 mb-2">
  <% if batch.current_step? step.name %>
    <%= render partial: 'shared/icon',
        locals: {
          classes: "has-text-#{status_color(batch.current_status)}",
          icon: status_icon(batch.current_status)
        }
    %>
  <% else %>
    <%= render partial: 'shared/icon',
        locals: {
        classes: "has-text-#{status_color(:finished)}",
          icon: status_icon(:finished)
        }
    %>
  <% end %>
  <%= t("batch.step.title.#{step.name}") %>
  <% if batch.current_step? step.name %>(<%= batch.current_status %>)<% end %>
</h3>
