<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'connection.name' %></th>
      <th><%= t 'connection.enabled' %></th>
      <th><%= t 'connection.primary' %></th>
      <th colspan="1"></th>
  </thead>

  <tbody>
    <%= render partial: 'connections/row',\
        collection: @connections,
        as: :connection,
        locals: { user: user }
    %>
  </tbody>
</table>
