<h1><%= t 'user.edit' %></h1>

<%= render 'form', user: @user %>

<% if current_user.admin? %>
  <%= link_to t('navigation.back'), users_path %>
<% else %>
  <%= link_to t('navigation.back'), root_path %>
<% end %>
