<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% policy_scope(@users).each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_user.admin? && !user_is_current_user?(user) %>
          <td><%= link_to 'Become', impersonate_user_path(user), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
