<div class="level">
  <div class="level-left">
    <div class="notification is-<%= type %>">
      <button class="delete"></button>
      <%= message %>
    </div>
  </div>
  <div class="level-right">
  </div>
</div>
