<footer class="footer">
  <div class="content has-text-centered">
    <p><strong>CollectionSpace Batch Import</strong>.</p>
    <p>
      <a href="https://www.collectionspace.org">CollectionSpace</a> is
      an open-source collections management system developed by the community
      and stewarded by <a href="https://www.lyrasis.org">LYRASIS</a>.
    </p>
  </div>
</footer>
